<%- include("header") -%>

      <div class="box" id="heading">
      <% if(listTitle === "Saturday" || listTitle === "Sunday"){ %>
        <h1 style="color:green"><%=listTitle %> List</h1>
  <% } else { %>
        <h1 style="color:white"><%=listTitle %> List</h1>
  <%}%>
        </div>
<div class="box">
<% for(var a = 0; a< newItem.length; a++){ %>
  <div class="item">
    <input type="checkbox" name="" value="">
      <p><%=newItem[a]%></p>
</div>
<%}%>
<form class="item" action="/" method="post">
<input type="text" name="name1" value="" placeholder="list item" autocomplete="off">
<button type="submit" name="button" value=<%=listTitle%>>+</button>
</form>
</div>

<%- include("footer") -%>
